#Wrap {min-width: 1200px;}

#header h1 {text-align: center; padding: 10px 0;}
#gnb {border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
#gnb>ul {display: flex; justify-content: center; line-height: 60px;}
#gnb>ul>li>a {display: block; padding: 0 25px;}


#MainVisual {position: relative;}
#MainVisual figure img {width: 100%;}
#MainVisual .slogan {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
    text-align: center; color: #fff;}

#MainVisual .slogan h2 {font-size: 35px; font-weight: 200; letter-spacing: 0.5em; margin-bottom: 20px; 
    text-shadow: #444 0 2px 0; }
#MainVisual .slogan p {font-weight: 100; line-height: 1.6;}


#Event {padding: 150px 0;}
#Event h2 {text-align: center; margin-bottom: 30px; font-size: 30px; font-weight: 500; color: #444;}
#Event .container {display: flex; width: 1200px; margin: 0 auto;}
#Event .container figure {flex: 1; padding: 0 15px;}
#Event .container img {width: 100%;}


#TabContents {padding: 150px 0; background: #f7f7f7;}
#TabContents .container {width: 1200px; margin: 0 auto;}
#TabContents ul {display: flex; line-height: 40px; margin-bottom: 20px;}
#TabContents ul li {flex: 1; text-align: center; background: #444; color: #fff; cursor: pointer;}
#TabContents ul li.oo {background: rgb(122, 92, 121);}
#TabContents ul li~li {border-left: 1px solid #ddd;}
#TabContents .tab>div {display: none;}
#TabContents .tab>div.oo {display: block;}


#footer {padding: 80px 0 120px 0; background: #444; color: #f2f2f2; text-align: center;}

