#header {position: fixed; top:0; left:0; width:350px; height:100vh; padding:30px 15px 0 15px;
background: #cfcfaa;z-index: 999; }

#header h1 {margin-bottom: 100px;}
#header h1 img {width: 250px;}

#header nav>ul>li {position: relative; border-bottom: 1px solid #ddd;}
#header nav>ul>li a {display: block; line-height: 50px;}
#header nav>ul>li .submenu {display: none; position: absolute; top: 0; left: 335px; width: 100%;
background: #929270; color: #fff;}
#header nav>ul>li .submenu li {border-top: 1px solid #ddd;}
#header nav>ul>li:hover .submenu {display: block;}

#visual {margin:0 350px 0 350px; height: 100vh; background: rgb(189, 160, 189);}

.main_visual figure {position: relative; height: 100vh;}
.main_visual .itm01 {background: url(../lib/base/main_banner01.jpg)no-repeat center center/cover;}
.main_visual .itm02 {background: url(../lib/base/mainV02.jpg)no-repeat center center/cover;}
.main_visual .itm03 {background: url(../lib/base/mainV03.jpg)no-repeat center center/cover;}

.main_visual .container {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
color: #fff; text-shadow: 0 0 3px rgba(0, 0, 0, 0.5); width: 1200px; text-align: center; }


.main_visual figure .container h3 {opacity: 0; transform: translateY(100px); font-size: 30px; font-weight: 600; margin-bottom: 15px;}
.main_visual figure .container p {opacity: 0; transform: translateY(100px); font-size: 17px; font-weight: 300; line-height: 20px;}

.main_visual figure.on .container h3 {opacity: 1; transform: translateY(0); transition: 0.5s;}
.main_visual figure.on .container p {opacity: 1; transform: translateY(0); transition: 0.5s 0.5s;}

.main_visual .slick-dots {position: absolute; bottom: 100px; left: 0; width: 100%;text-align: center;}
.main_visual .slick-dots  li {display: inline-block; font-size: 30px;margin: 0 10px;
cursor: pointer; color: #fff;}
.main_visual .slick-dots  li::after {content:"\eb15";font-family: xeicon!important;}
.main_visual .slick-dots li.slick-active {color:#6f949b;}
.main_visual .slick-dots button {display: none;}

.main_visual .slick-arrow {position: absolute; top: 46%;z-index: 998; cursor: pointer;}
.main_visual .slick-arrow.prev {left: 30px;}
.main_visual .slick-arrow.next {right: 30px;}

.main_visual .slick-arrow i {font: 40px; padding: 10px; background: rgba(110, 167, 177, 0.4);
color: #fff; border-radius: 10px;}

#footer {position: fixed; top: 0; right: 0; width: 350px; height: 100vh; background: #6f949b;}

@media (max-width:768px) {
    #header {position: static; width: auto;}
    #visual {margin: 0 0 0 0;}
    #footer {position: static; width: auto;}
}