@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

:root {
    --mc:#67865b;
    --bc:#a4aa48;
    --lc:#ffffff;
    --dc:#444444;
}

/* {outline: 1px solid #f00;}*/

html {font-size: 20px;}
body {font-size: 0.8rem;}

#header {display: flex; position: fixed; width: 100%;
color:var(--lc); font-size: 1rem; transition: 0.5s; z-index: 9999;
background: linear-gradient(#67865b,#87a17d); padding: 0 5% 0 3%;}
#header.on {background: var(--lc); color: var(--dc);}

#header h1>a {display: block; font-size: 0; height: 4rem; width: 11rem;
background: url(../img/logo1copy.png)no-repeat left center;}
#header.on h1>a {display: block; font-size: 0; height: 4rem; width: 11rem;
background: url(../img/logo1.png)no-repeat left center;}
    

.gnb {width: 85%; font-size: 0.8rem; margin:0 auto;}
.gnb>ul {margin-left: 10%; display: flex; width: 80%; position: relative;}
.gnb>ul>li {position: relative; display: block; line-height:2rem; text-align: center;
flex: 1; padding: 1rem 0.5rem;}
.gnb>ul>li>a {display: block; padding:0 1rem; position: relative;}
.gnb>ul>li>a::after {content: ""; display: block; width: 100%; height: 4px;
background: var(--bc); position: absolute; bottom: -2px;left: 50%;transform: translateX(-50%);
transition: 0.4s; opacity: 0;}
.gnb>ul>li>a:hover:after {width: 100%; opacity: 1;}

.gnb>ul>li .submenu {font-size: 0.75rem; display:none;line-height:2.5;width:100%;
background:var(--lc); padding:0 5px;position:absolute;top:79%;left:0;z-index:999;}
.gnb>ul>li:hover .submenu {display:block;}

.gnb>ul .submenu a {display:block;text-align:center;}
.gnb>ul .submenu li~li a {border-top:1px solid #ddd;}

.gnb>ul .submenu li {color: var(--dc);}
.gnb>ul .submenu li:hover a {background: var(--bc); color: var(--lc);}

#header .hdRight {font-size: 0.75rem;}
#header .hdRight ul>li>a {display:block; width: 110%; margin: 0.5rem; padding: 0.2rem;}
#header .hdRight i {font-size: 1rem;}

.mopen {display:none;}

@media (max-width:768px) {
    html {font-size: 20px;}
    body {font-size: 0.8rem;}


    #Wrap {min-width:auto;}
    #header {display: flex; position: block; width: 95%;
    color:var(--lc); font-size: 1rem; transition: none; z-index: 9999;
    background: linear-gradient(#67865b,#87a17d); padding: 0 5% 0 3%;}
    #header.on {background: var(--lc); color: var(--dc);}
    
    #header h1>a {display: block; font-size: 0; height:auto; width: auto;
    background: url(../img/logo1copy.png)no-repeat center;}
    #header.on h1>a {display: block; font-size: 0; height: auto;  width: auto;
    background: url(../img/logo1.png)no-repeat center;}
        
    .gnb {width: auto; font-size: 0.8rem; margin:0 auto;position:fixed;top:0;left:-100%;height:100vh;
    background:var(--lc); padding:4.5rem 0 0 0;border-right:1px solid #ddd;transition:0.3s;
    z-index:999; text-align: left; color: var(--dc);}
    .gnb.on {left: 0;width:calc(100% - 8rem);}
    .gnb>ul {margin-left: auto; display: flex; flex-direction: column; width:auto; position: relative;}
    .gnb>ul>li {position: relative; display: block; line-height:2rem; text-align: center;
    flex: 1; padding: 0;}
    .gnb>ul>li>a {display: block; padding:0 1rem; position: relative;}
    .gnb>ul>li>a::after {content: ""; display: block; width: 100%; height: 4px;
    background: var(--lc); position: absolute; bottom: -2px;left: 50%;transform: translateX(-50%);
    transition: 0.4s; opacity: 0;}
    .gnb>ul>li>a:hover:after {width: 100%; opacity: 0;}
    
    .gnb>ul>li .submenu {font-size: 0.75rem; display:none;line-height:2.5;width:120%;
    background:var(--lc); padding:0 5px;position:absolute;top:79%;left:-10%;z-index:999;}
    .gnb>ul>li:hover .submenu {display:block;}
    
    .gnb>ul .submenu a {display:block;text-align:center;}
    .gnb>ul .submenu li~li a {border-top:1px solid #ddd;}
    
    .gnb>ul .submenu li {color: var(--dc);}
    .gnb>ul .submenu li:hover a {background: var(--bc); color: var(--lc);}
    
    #header .hdRight {font-size: 0.75rem;}
    #header .hdRight ul>li>a {display:flex; width: auto; margin: 0.5rem; padding: 0.2rem;}
    #header .hdRight i {font-size: 1rem;}
    
    .mopen {display:block;position:fixed;top:1rem;right:5rem;width:2rem;height:40px;
    line-height: 1; font-size: 30px; z-index: 999; background: rgba(120, 170, 118, 0.6);
    padding: 5px 20px 5px 5px; border-radius: 5px;}
    
}


#mainVisual {background: #435c5f; position: relative;}
#mainVisual .main_slider figure {height: 45rem;
background-position: center center;
background-size: 110% 110%; background-repeat: no-repeat;position: relative; }
#mainVisual .main_slider figure.on {background-size: 100% 100%; transition: 1.5s;}

#mainVisual .main_slider .itm01 {background-image: url(../img/mv01copy.jpg);}
#mainVisual .main_slider .itm02 {background-image: url(../img/mv02.jpg);}
#mainVisual figure .slogan {position: absolute; top: 40%; left: 40%; transform: translateX(-50%);
width: 50rem; color: var(--lc); text-shadow: 1px 2px 2px #435c5f; }

#mainVisual figure .slogan h3 {font-size: 3.5rem; font-weight: 900; margin-bottom: 1rem; opacity: 0;
transform: translateY(5rem);}
#mainVisual figure .slogan p {font-size:0.8rem; margin-bottom: 2rem;opacity: 0;
transform: translateY(5rem); line-height: 1.3;}
#mainVisual figure .slogan a {display: block; width: 10rem; line-height: 2rem;border: 1px solid var(--lc);
color: var(--lc); text-align: center; border-radius: 1rem;opacity: 0;transform: translateY(5rem);}

#mainVisual figure.on .slogan h3 {opacity: 1; transform: translateY(0); transition: 0.5s;}
#mainVisual figure.on .slogan p {opacity: 1; transform: translateY(0); transition: 0.5s 0.5s;}
#mainVisual figure.on .slogan a {opacity: 1; transform: translateY(0); transition: 0.5s 1s;}

#mainVisual figure .slogan a:hover {background: var(--mc);border: 1px solid transparent;
transition: none;}

#mainVisual .slick-dots {position: absolute; bottom: 7rem; left: 50%; transform: translateX(-50%);
width: 70rem;}
#mainVisual .slick-dots li {display:  inline-block; position: relative; width: 5rem; height: 0.2rem; background: var(--lc);
border-radius: 0.1rem; margin-right: 0.5rem; overflow: hidden;}

#mainVisual .slick-dots li::after {content: ""; display: block; position: absolute; top: 0; left: 0;
width: 0; height: 100%; border-radius: 0.1rem; background: var(--mc);}

#mainVisual .slick-dots li.slick-active::after {width: auto; transition: 3s;}

#mainVisual .slick-dots button {display: none;}

#mainVisual .search_box {display: flex; position: absolute; bottom: -5rem; left: 50%; transform: translateX(-50%);
width: 70rem; height: 10rem; border-radius:1rem; overflow: hidden; box-shadow: 2px 2px 10px #484d4e;}

#mainVisual .search_box>div {flex: 1; padding: 2.5rem 3rem;}

#mainVisual .search_box .left {background: var(--lc);}
#mainVisual .search_box .right {background: var(--mc); color: var(--lc);}

#mainVisual .search_box .case {display: flex; align-items: center;}
#mainVisual .search_box .case>a {display: block;width: 5rem; height:5rem;margin-right: 2rem;
background: var(--mc) url(../img/icons.png) -9.9rem -9.8rem;text-indent: -9999rem; 
border-radius: 50%;}

#mainVisual .search_box .txt h3 {font-size: 1.5rem; font-weight: 600; margin-bottom: 0.5rem;}
#mainVisual .search_box .txt p {font-size: 0.9rem; font-weight: 300; margin-bottom: 0.5rem;}
#mainVisual .search_box .txt i {padding: 0.25rem; background: var(--lc); color: var(--mc);
margin-left: 1rem; border-radius: 50%; transition: 0.5s;}

#mainVisual .search_box .txt a:hover i {transform: rotate(180deg);}
#mainVisual .search_box .right h3 {font-size: 1.3rem; margin-bottom: 1rem;}
#mainVisual .search_box .right form {display: flex; justify-content: space-between;
border: 0.05rem solid var(--lc); padding: 0.5rem 1rem; border-radius: 0.5rem;}

#mainVisual .search_box .right form input[type="search"] {border:none; outline: none;
background: transparent; color: var(--lc);}

#mainVisual .search_box .right form input[type="search"]::placeholder {color: var(--lc); font-size: 0.9rem;}
#mainVisual .search_box .right form button {display: inline-block; font-size: 1.5rem; margin-left: auto;}

@media (max-width:768px) {
    #mainVisual {background: #435c5f; position: relative; pointer-events: none;}
    #mainVisual .main_slider figure {height: 100vh;
    background-position: center center;
    background-size: 110% 110%; background-repeat: no-repeat;position: relative; }
    #mainVisual .main_slider figure.on {background-size: 100% 100%; transition: 2s;}
    
    #mainVisual .main_slider .itm01 {background-image: url(../img/mv01mo.jpg);}
    #mainVisual .main_slider .itm02 {background-image: url(../img/mv02.jpg);}
    #mainVisual figure .slogan {position: absolute; top: 35%; left: 50%; transform: translateX(-50%);
    width: 95%; color: var(--lc); text-shadow: 1px 2px 2px #435c5f; text-align: center;}
    
    #mainVisual figure .slogan h3 {font-size: 3rem; font-weight: 900; margin-bottom: 1rem; opacity: 0;
    transform: translateY(5rem);}
    #mainVisual figure .slogan p {font-size:0.7rem; margin-bottom: 2rem;opacity: 0;
    transform: translateY(5rem); line-height: 1.3;}
    #mainVisual figure .slogan a {display: block; width: 8rem; margin-left: 25%; line-height: 2rem;border: 1px solid var(--mc);
    color: var(--lc); background: var(--mc); text-align: center; border-radius: 1rem;opacity: 0;transform: translateY(4rem);}
    
    #mainVisual figure.on .slogan h3 {opacity: 1; transform: translateY(0); transition: 0.5s;}
    #mainVisual figure.on .slogan p {opacity: 1; transform: translateY(0); transition: 0.5s 0.5s;}
    #mainVisual figure.on .slogan a {opacity: 1; transform: translateY(0); transition: 0.5s 1s;}
    
    #mainVisual figure .slogan a:hover {background: var(--mc);border: 1px solid transparent;
    transition: none;}
    
    #mainVisual .slick-dots {position: absolute; bottom: 7rem; left: 50%; transform: translateX(-25%);
    width: 50%;}
    #mainVisual .slick-dots li {display:  inline-block; position: relative; width: 2rem; height: 0.2rem; background: var(--lc);
    border-radius: 0.1rem; margin-right: 0.5rem; overflow: hidden;}
    
    #mainVisual .slick-dots li::after {content: ""; display: block; position: absolute; top: 0; left: 0;
    width: 0; height: 100%; border-radius: 0.1rem; background: var(--mc);}
    
    #mainVisual .slick-dots li.slick-active::after {width: auto; transition: 3s;}
    
    #mainVisual .slick-dots button {display: none;}
    
    #mainVisual .search_box {display: flex; flex-direction: column; position: absolute; bottom: -5rem; left: 50%; transform: translateX(-50%);
    width: 95%; height: 10rem; border-radius:1rem; overflow: hidden; box-shadow: 2px 2px 10px #484d4e;}
    
    #mainVisual .search_box>div {flex: 1; padding: 2.5rem 3rem;}
    
    #mainVisual .search_box .left {background: var(--lc);}
    #mainVisual .search_box .right {background: var(--mc); color: var(--lc);}
    
    #mainVisual .search_box .case {display: flex; align-items: center;}
    #mainVisual .search_box .case>a {display: block;width: 5rem; height:5rem;margin-right: 2rem;
    background: var(--mc) url(../img/icons.png) -9.9rem -9.8rem;text-indent: -9999rem; 
    border-radius: 50%;}
    
    #mainVisual .search_box .txt h3 {font-size: 1.5rem; font-weight: 600; margin-bottom: 0.5rem;}
    #mainVisual .search_box .txt p {font-size: 0.9rem; font-weight: 300; margin-bottom: 0.5rem;}
    #mainVisual .search_box .txt i {padding: 0.25rem; background: var(--lc); color: var(--mc);
    margin-left: 1rem; border-radius: 50%; transition: 0.5s;}
    
    #mainVisual .search_box .txt a:hover i {transform: rotate(180deg);}
    #mainVisual .search_box .right h3 {font-size: 1.3rem; margin-bottom: 1rem;}
    #mainVisual .search_box .right form {display: flex; justify-content: space-between;
    border: 0.05rem solid var(--lc); padding: 0.5rem 1rem; border-radius: 0.5rem;}
    
    #mainVisual .search_box .right form input[type="search"] {border:none; outline: none;
    background: transparent; color: var(--lc);}
    
    #mainVisual .search_box .right form input[type="search"]::placeholder {color: var(--lc); font-size: 0.9rem;}
    #mainVisual .search_box .right form button {display: inline-block; font-size: 1.5rem; margin-left: auto;}
}




#Solution {padding:10rem 0 10rem 0;text-align:center;}
#Solution h2 {font-size:1.8rem;font-weight:100; font-family: 'Montserrat'}
#Solution h2:after {content:"";display:block;width:0.1rem;height:2rem;background:var(--mc);margin:0.5rem auto 1rem auto;}
#Solution p {font-size:0.8rem;font-weight:300;margin-bottom:2rem;}
#Solution .container {display:flex;flex-flow:row wrap;width:60rem;margin:0 auto;}
#Solution .container figure {position:relative;width:30rem;height:17.5rem;overflow:hidden; filter: saturate(0.8);}
#Solution .container figure:after {content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;
background:linear-gradient(to left, transparent, var(--dc));opacity:0;transition:0.5s;}
#Solution .container figure .txt {position:absolute;top:12rem;left:3rem;width:100%;height:100%;text-align:left;
color:var(--lc);z-index:999;transition:0.5s;text-shadow: 1px 2px 2px #46484b;}

#Solution .container figure:hover:after {opacity:0.5;}
#Solution .container figure:hover .txt {top:7rem;}
#Solution .container figure:hover .txt h3:after {width:10rem;}

#Solution .container figure .txt h3 {font-size:1.75rem;font-weight:700;}
#Solution .container figure .txt p {font-size:0.75rem;font-weight:300;line-height:1.45;}
#Solution .container figure .txt h3:after {content:"";display:block;width:2rem;height:0.1rem;background:var(--lc);margin:2rem 0;transition:0.5s;}

#Solution figure:nth-child(1) {transform:translate(-10rem,5rem);opacity:0;transition:0.5s;}
#Solution figure:nth-child(2) {transform:translate(0,-10rem);opacity:0;transition:0.5s;}
#Solution figure:nth-child(3) {transform:translate(0,10rem);opacity:0;transition:0.5s;}
#Solution figure:nth-child(4) {transform:translate(10rem,0);opacity:0;transition:0.5s;}

#Solution.on figure:nth-child(1) {transform:translate(0,5rem);opacity:1;transition:0.5s;}
#Solution.on figure:nth-child(2) {transform:translate(0,0);opacity:1;transition:0.5s 0.5s;}
#Solution.on figure:nth-child(3) {transform:translate(0,5rem);opacity:1;transition:0.5s 1s;}
#Solution.on figure:nth-child(4) {transform:translate(0,0);opacity:1;transition:0.5s 1.5s;}

@media (max-width:768px){
    #Solution {padding:10rem 0;text-align:center;}
    #Solution h2 {font-size:1.8rem;font-weight:100; font-family: 'Montserrat'}
    #Solution h2:after {content:"";display:block;width:0.1rem;height:2rem;background:var(--mc);margin:0.5rem auto 1rem auto;}
    #Solution p {font-size:0.8rem;font-weight:300;margin-bottom:2rem;}
    #Solution .container {display:flex;flex-flow:column wrap;width:95%;margin:0 auto;}
    #Solution .container figure {position:relative;width:10rem;height:10rem;overflow:hidden;}
    #Solution .container figure:after {content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:linear-gradient(to left, transparent, var(--mc));opacity:0;transition:0.5s;}
    #Solution .container figure .txt {position:absolute;top:12rem;left:3rem;width:100%;height:100%;text-align:left;color:var(--lc);z-index:999;transition:0.5s;}
    
    #Solution .container figure:hover:after {opacity:0.5;}
    #Solution .container figure:hover .txt {top:7rem;}
    #Solution .container figure:hover .txt h3:after {width:10rem;}
    
    #Solution .container figure .txt h3 {font-size:1.75rem;font-weight:700;}
    #Solution .container figure .txt p {font-size:0.75rem;font-weight:300;line-height:1.45;}
    #Solution .container figure .txt h3:after {content:"";display:block;width:2rem;height:0.1rem;background:var(--lc);margin:2rem 0;transition:0.5s;}
    
    #Solution figure:nth-child(1) {transform:translate(-10rem,5rem);opacity:0;transition:0.5s;}
    #Solution figure:nth-child(2) {transform:translate(0,-10rem);opacity:0;transition:0.5s;}
    #Solution figure:nth-child(3) {transform:translate(0,10rem);opacity:0;transition:0.5s;}
    #Solution figure:nth-child(4) {transform:translate(10rem,0);opacity:0;transition:0.5s;}
    
    #Solution.on figure:nth-child(1) {transform:translate(0,5rem);opacity:1;transition:0.5s;}
    #Solution.on figure:nth-child(2) {transform:translate(0,0);opacity:1;transition:0.5s 0.5s;}
    #Solution.on figure:nth-child(3) {transform:translate(0,5rem);opacity:1;transition:0.5s 1s;}
    #Solution.on figure:nth-child(4) {transform:translate(0,0);opacity:1;transition:0.5s 1.5s;}
}




#Festival {padding:5rem 0;text-align:center;background:#e9ecea;}
#Festival h2 {font-size:1.8rem;font-weight:100; font-family: 'Montserrat'}
#Festival h2:after {content:"";display:block;width:0.1rem;height:2rem;background:var(--mc);
margin:0.5rem auto 1rem auto;}
#Festival p {font-size:0.8rem;font-weight:300;margin-bottom:2rem;}

#Festival .container figure {position:relative;width:27.5rem;height:17.5rem;margin:0 0.5rem;}
#Festival .container figure .case {position:absolute;top:50%;left:0;width:100%;height:10rem;
transform:translateY(-50%);border:4px solid transparent;transition:0.5s;}

#Festival .container figure .itm01 {background:url(../img/s2_archi.jpg) no-repeat center center/cover;}
#Festival .container figure .itm02 {background:url(../img/s2_fashion.jpg) no-repeat center center/cover;}
#Festival .container figure .itm03 {background:url(../img/s2_soundd.jpg) no-repeat center center/cover;}
#Festival .container figure .itm04 {background:url(../img/s2_yori.png) no-repeat center center/cover;}
#Festival .container figure .itm05 {background:url(../img/s2_fashion2.jpg) no-repeat center center/cover;}


#Festival .container figure:hover .case {height:100%;border:4px solid var(--lc)}
#Festival .container figure .case .txt {display:block;text-align:left;color:var(--lc);padding:2.5rem;width:100%;
text-shadow: 1px 1px 1px #435c5f;}
#Festival .container figure h3 {font-size:1.5rem;font-weight:700;margin-bottom:1rem;}
#Festival .container figure strong {display:block;font-size:0.75rem;font-weight:300;margin-bottom:1rem;}

#Festival .container figure a {display:block;}
#Festival .container figure span {display:inline-block;width:0;overflow:hidden;white-space:nowrap;transition:0.5s;}
#Festival .container figure:hover span {width:5rem;}

#Festival .container figure.on .case {height:100%;border:4px solid var(--lc)}
#Festival .container figure.on span {width:5rem;}


@media (max-width:768px){
    #Festival {padding:5rem 0;text-align:center;background:#e9ecea;}
    #Festival h2 {font-size:1.8rem;font-weight:100; font-family: 'Montserrat'}
    #Festival h2:after {content:"";display:block;width:0.1rem;height:2rem;background:var(--mc);
    margin:0.5rem auto 1rem auto;}
    #Festival p {font-size:0.8rem;font-weight:300;margin-bottom:2rem;}
    
    #Festival .container figure {position:relative;width:auto;height:60vh;margin:0 0.5rem;}
    #Festival .container figure .case {position:absolute;top:50%;left:0;width:100%;height:50vh;
    transform:translateY(-50%);border:4px solid transparent;transition:0.5s;}
    
    #Festival .container figure .itm01 {background:url(../img/s2_archi.jpg) no-repeat center center/cover;}
    #Festival .container figure .itm02 {background:url(../img/s2_fashion.jpg) no-repeat center center/cover;}
    #Festival .container figure .itm03 {background:url(../img/s2_soundd.jpg) no-repeat center center/cover;}
    #Festival .container figure .itm04 {background:url(../img/s2_yori.png) no-repeat center center/cover;}
    #Festival .container figure .itm05 {background:url(../img/s2_fashion2.jpg) no-repeat center center/cover;}
    
    
    #Festival .container figure:hover .case {height:100%;border:4px solid var(--lc)}
    #Festival .container figure .case .txt {display:block;text-align:left;color:var(--lc);padding:2.5rem;width:100%;
    text-shadow: 1px 1px 1px #435c5f;}
    #Festival .container figure h3 {font-size:1.5rem;font-weight:700;margin-bottom:1rem;}
    #Festival .container figure strong {display:block;font-size:0.75rem;font-weight:300;margin-bottom:1rem;}
    
    #Festival .container figure a {display:block;}
    #Festival .container figure span {display:inline-block;width:0;overflow:hidden;white-space:nowrap;transition:0.5s;}
    #Festival .container figure:hover span {width:5rem;}
    
    #Festival .container figure.on .case {height:100%;border:4px solid var(--lc)}
    #Festival .container figure.on span {width:auto;}
}




#News {padding:5rem 0;text-align:center;}
#News .container {width:60rem; margin: 0 auto;}
#News h2 {font-size:1.8rem;font-weight:100; font-family: 'Montserrat'}
#News h2:after {content:"";display:block;width:0.1rem;height:2rem;background:var(--mc);
margin:0.5rem auto 1rem auto;}
#News p {font-size:0.75rem;font-weight:300;margin-bottom:2rem;}
#News .News_wrap {width: 60rem; margin: 0 auto; justify-content: space-between;display: flex;}


#News .view_school {display: block; position: relative;  width: 50%; padding: 20px 0;
overflow: hidden;}
#News .view_school p {font-size: 0.7rem; position: absolute; top:40%; left:4%; font-weight: 200;
color: var(--lc);}
#News .view_school h3 {font-size: 1.3rem; position: absolute; top:45%; left:8%;
color: var(--lc);font-weight: 500;}
#News .view_school i {font-size: 2rem; position: absolute;top:54%; left:15%;color: #f2f2f2;}
#News .view_school img { border-radius: 0 2.5rem 0 2.5rem;}


#News .notice {position: relative;  width: 49%; padding: 20px;}
#News .notice h3 {font-size: 25px; font-weight: 600; color: var(--dc); text-align: left;
margin-bottom: 10px; line-height: 2; border-bottom: 2px solid var(--dc);
font-family: 'Poppins', sans-serif, 'Noto Sans KR';}
#News .noti_list {margin-top: 10px;height: 8.5rem; margin-bottom: 10px;
border-bottom: 1px solid #ddd;}

#News .notice ul>li:nth-child(1) {font-weight: 500;}
#News .notice ul>li:nth-child(2) {font-weight: 500;}
#News .notice ul>li {color: #46484b;}
#News .notice .txt {text-align: left; float: left; width: 75%;line-height: 2; font-size: 0.8rem;}
#News .notice .date {text-align: center; float: right; width: 25%;font-size: 0.75rem;
color:#778190; line-height: 2;}
#News .notice .btn_more {position: absolute; top:9%; left: 88%; font-size: 0.75rem;
color: #778190;}

#News .notice .btn_lt {font-size: 17px; margin-top: 1rem; display:block;float: left; width: 45%;
border: 1px solid var(--mc);background: var(--mc); color: #f2f2f2;transition: 0.5s;
padding:20px;}
#News .notice .btn_rt {font-size: 17px; margin-top: 1rem; display:block; float: right; width: 45%; border: 1px solid #647e5a;
background: #4b5e31; color: #f2f2f2;transition: 0.5s; padding: 20px;}

.btn_lt i {margin-top: 10px; font-size: 30px;}
.btn_rt i {margin-top: 10px; font-size: 30px;}

#News .notice .btn_lt:hover {border: 1px solid var(--bc);background: #9ead0b; color: #f2f2f2;}
#News .notice .btn_rt:hover {display:block; float: right; width: 45%; border: 1px solid var(--bc);
background: #9ead0b; color: #f2f2f2;}


* {outline: 1px solid #f00;}
@media (max-width:768px){
    #News {padding:5rem 0;text-align:center;}
    #News .container {width:95%; margin: 0 auto;}
    #News h2 {font-size:1.8rem;font-weight:100; font-family: 'Montserrat'}
    #News h2:after {content:"";display:block;width:0.1rem;height:2rem;background:var(--mc);
    margin:0.5rem auto 1rem auto;}
    #News p {font-size:0.75rem;font-weight:300;margin-bottom:2rem;}
    #News .News_wrap {width: 95%; margin: 0 auto; justify-content: center;display: flex;
    flex-direction: column;}
    
    
    #News .view_school {display: block; position: relative;  width: 100%; padding: 0;
    overflow: hidden;}
    #News .view_school p {font-size: 0.7rem; position: absolute; top:40%; left:6%; font-weight: 200;
    color: var(--lc);}
    #News .view_school h3 {font-size: 1.3rem; position: absolute; top:45%; left:10%;
    color: var(--lc);font-weight: 500;}
    #News .view_school i {font-size: 2rem; position: absolute;top:54%; left:24%;color: #f2f2f2;}
    #News .view_school img { border-radius: 0 2.5rem 0 2.5rem;}
    
    
    #News .notice {position: relative;  width: 100%; padding: 20px;}
    #News .notice h3 {font-size: 25px; font-weight: 600; color: var(--dc); text-align: left;
    margin-bottom: 10px; line-height: 2; border-bottom: 2px solid var(--dc);
    font-family: 'Poppins', sans-serif, 'Noto Sans KR';}
    #News .noti_list {margin-top: 10px;height: 8.5rem; margin-bottom: 10px;
    border-bottom: 1px solid #ddd;}
    
    #News .notice ul>li:nth-child(1) {font-weight: 500;}
    #News .notice ul>li:nth-child(2) {font-weight: 500;}
    #News .notice ul>li {color: #46484b;}
    #News .notice .txt {text-align: left; float: left; width: 60%;line-height: 2; font-size: 0.8rem;
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
    #News .notice .date {text-align: center; float: right; width: 40%;font-size: 0.75rem;
    color:#778190; line-height: 2;}
    #News .notice .btn_more {position: absolute; top:9%; left: 78%; font-size: 0.75rem;
    color: #778190;}
    
    #News .notice .btn_lt {font-size: 17px; margin-top: 1rem; display:block;float: left; width: 45%;
    border: 1px solid var(--mc);background: var(--mc); color: #f2f2f2;transition: 0.5s;
    padding:20px;}
    #News .notice .btn_rt {font-size: 17px; margin-top: 1rem; display:block; float: right; width: 45%; border: 1px solid #647e5a;
    background: #4b5e31; color: #f2f2f2;transition: 0.5s; padding: 20px;}
    
    .btn_lt i {margin-top: 10px; font-size: 30px;}
    .btn_rt i {margin-top: 10px; font-size: 30px;}
    
    #News .notice .btn_lt:hover {border: 1px solid var(--bc);background: #9ead0b; color: #f2f2f2;}
    #News .notice .btn_rt:hover {display:block; float: right; width: 45%; border: 1px solid var(--bc);
    background: #9ead0b; color: #f2f2f2;}
}





#movie02 {padding:5rem 0;background:url(../img/s4.png)no-repeat; color: #1e393b;}
#movie02 .container {display:flex;width:60rem;margin:0 auto;}
#movie02 h2 {font-size:1.8rem;font-weight:100; font-family: 'Montserrat'}
#movie02 h2:after {content:"";display:block;width:0.1rem;height:2rem;background:var(--mc);
margin:0.5rem 0 1rem 2rem;}
#movie02 p {font-size:0.75rem;font-weight:300;margin-bottom:2rem;}
#movie02 .container figure {flex:1;padding:0 15px;}
#movie02 .container figure img {max-width:100%;}

#movie02 i {font-size:20px;padding:10px;background:#8fad94;color:#fff;border-radius:0.3rem;}
#movie02 a {display: block; margin-top: 1.5rem; border: 2px solid #8fad94; border-radius:0.3rem;
width: 6rem; padding: 0.6rem 1rem;text-align: center; color: #8fad94; transition: 0.5s;}
#movie02 a:hover {background: #8fad94; color: #e0e6e1; border: 2px solid #8fad94;}


@media (max-width:768px) {
    #movie02 {padding:5rem 0;background:url(../img/s4.png)no-repeat; color: #1e393b;}
    #movie02 .container {display:flex; flex-direction: column; width:95%;margin:0 auto;}
    #movie02 h2 {font-size:1.8rem;font-weight:100; font-family: 'Montserrat'}
    #movie02 h2:after {content:"";display:block;width:0.1rem;height:2rem;background:var(--mc);
    margin:0.5rem 0 1rem 2rem;}
    #movie02 p {font-size:0.75rem;font-weight:300;margin-bottom:2rem;}
    #movie02 .container figure {flex:1;padding:0 15px;}
    #movie02 .container figure img {max-width:100%;}
    
    #movie02 i {font-size:20px;padding:10px;background:#8fad94;color:#fff;border-radius:0.3rem;}
    #movie02 a {display: block; margin-top: 1.5rem; border: 2px solid #8fad94; border-radius:0.3rem;
    width: 6rem; padding: 0.6rem 1rem;text-align: center; color: #8fad94; transition: 0.5s;}
    #movie02 a:hover {background: #8fad94; color: #e0e6e1; border: 2px solid #8fad94;}
}




#footer {background:#f3f3f3;}
#footer .top {position:relative;display:flex;justify-content:space-between;width:60rem;margin:0 auto;padding:1rem 0;}
#footer .bottom {display:flex;justify-content:space-between;width:60rem;margin:0 auto;padding:1rem 0 2rem 0;}
#footer .top>ul {font-size:0;}
#footer .top>ul li {display:inline-block;font-size:0.75rem;margin:0 2rem 0 0;}
#footer .top>ul li:nth-child(1) {color:var(--mc)}
#footer hr {border-top:1px solid var(--dd)}

#footer .top .link {position:absolute;bottom:0.5rem;right:0;width:8rem;text-align:center;background:var(--dc);color:var(--lc);line-height:2;}

#footer .top .link ul {display:none;}
#footer .top .link ul li {border-bottom:1px solid rgba(255,255,255,0.2)}

#footer .top .link i {transition:0.2s;}
#footer .top .link i.on {transform:rotate(180deg);}

#footer .bottom strong {display:block;font-size:0.65rem;line-height:2;text-align:right;}


#toTop {display:none;position:fixed;bottom:10rem;right:5rem;}
#toTop i {font-size:2rem;padding:0.5rem;background:var(--lc);border:2px solid var(--mc);border-radius:50%;}



@media (max-width:768px) {
    #footer {background:#f3f3f3;}
    #footer .top {position:relative;display:flex;justify-content:space-between;width:auto;margin:0 auto;padding:1rem 0;}
    #footer .bottom {display:flex;justify-content:space-between;width:auto;margin:0 auto;padding:1rem 0 2rem 0;}
    #footer .top>ul {font-size:0;}
    #footer .top>ul li {display:inline-block;font-size:0.75rem;margin:0 2rem 0 0;}
    #footer .top>ul li:nth-child(1) {color:var(--mc)}
    #footer hr {border-top:1px solid var(--dd)}
    
    #footer .top .link {position:absolute;bottom:0.5rem;right:0;width:auto;text-align:center;background:var(--dc);color:var(--lc);line-height:2;}
    
    #footer .top .link ul {display:none;}
    #footer .top .link ul li {border-bottom:1px solid rgba(255,255,255,0.2)}
    
    #footer .top .link i {transition:0.2s;}
    #footer .top .link i.on {transform:rotate(180deg);}
    
    #footer .bottom strong {display:block;font-size:0.65rem;line-height:2;text-align:right;}
    
    
    #toTop {display:none;position:fixed;bottom:10rem;right:5rem;}
    #toTop i {font-size:2rem;padding:0.5rem;background:var(--lc);border:2px solid var(--mc);border-radius:50%;}
}
