#header {line-height:100px;}
#header h1 img {width:200px;}
#header .container {display:flex;width:1200px;margin:0 auto;padding:0 15px;}
#header nav {margin-left:auto;}
#header nav>ul {display:flex;}
#header nav>ul>li>a {display:block;position:relative;padding:0 30px;}
#header nav>ul>li~li>a::after {content:"";display:block;width:1px;height:12px;background:#333;
    position:absolute;top:50%;left:0;transform:translateY(-50%)}

#header .right {font-size:20px;margin-left:30px;}




#visual .main_slider {color:#fff;}
#visual .main_slider figure {height:600px;position:relative;}
#visual .main_slider .itm01 {background:url(../img/main_visual001.jpg) no-repeat center center/cover}
#visual .main_slider .itm02 {background:url(../img/main_visual003.jpg) no-repeat center center/cover}


#visual .main_slider figure .container {position:absolute;top:50%;left:55%;transform:translate(-50%,-50%);width:1200px;}

#visual .main_slider figure h3 {font-size:35px; font-weight: 100; line-height: 40px; margin-bottom:30px; 
    letter-spacing: 0.5em; opacity:0;transform:translateY(100px);}
#visual .main_slider figure.on h3 {opacity:1;transform:translateY(0);transition:1s;}

#visual .main_slider figure h2 {font-size:35px; font-weight: 400; line-height: 30px; margin-bottom:30px; 
 opacity:0;transform:translateY(100px);}
#visual .main_slider figure.on h2 {opacity:1;transform:translateY(0);transition:1s;}

#visual .main_slider figure p {font-size:16px;font-weight:100;margin-bottom:20px;opacity:0;transform:translateY(100px);}
#visual .main_slider figure.on p {opacity:1;transform:translateY(0);transition:1s 1s;}
#visual .main_slider figure a {display:block; text-align: center; background: darkgrey; width:100px;
    margin:0 auto;line-height:30px;opacity:0;transform:translateY(100px);}
#visual .main_slider figure.on a {opacity:1;transform:translateY(0);transition:1s 1.5s;}



#content01 {position:relative;padding:150px 0;text-align:center;}
#content01 h2 {font-size:24px;font-weight:100;letter-spacing:0.5em;margin-bottom:15px;}
#content01 h2:after {content: ""; display: block; width: 20px; height: 1px; background: rgb(92, 92, 92);
    margin: 30px auto;}
#content01 p {font-size:12px;margin-bottom:40px;line-height:1.6;}
#content01 .container {width:1200px;margin:0 auto;}
#content01 .container figure {padding:0 15px;}
#content01 .container figure img {max-width:100%;}

#content01 .slick-dots {display:flex;justify-content:center;}
#content01 .slick-dots li {width:10px;height:6px;border-radius:4px;background:#666;margin:30px 4px;}
#content01 .slick-dots li.slick-active {background:rgb(180, 176, 176);}
#content01 .slick-dots li button {display:none;}

#content01 .btn i {position:absolute;top:52%;left:50%;transform:translate(-50%,-50%);
    font-size:20px;padding:10px;background:#ddd;border-radius:50%;}

#content01 .btn i.xi-angle-left {margin-left:-585px;}
#content01 .btn i.xi-angle-right {margin-left:585px;}






#content02 {padding: 150px 0; text-align: center;}
#content02 .container {width: 1900px; margin: 0 auto;}
#content02 .container {padding: 150px 0; background: url(../img/coffee02.jpg) no-repeat center center/
    cover; background-attachment: fixed; color: #fff; text-align: center;}
#content02 .container h2 {font-size: 24px; font-weight: 100; letter-spacing: 0.5em; margin-bottom: 30px;}
#content02 .container p {font-size: 14px; font-weight: 200; letter-spacing: 0.03em; margin-bottom: 30px;}
#content02 .container a {display: block; font-size:13px; text-align: center; font-weight: 100; 
    width: 150px; border: 1px solid #ddd; margin: 0 auto; line-height: 30px;}
#content02 .container a:hover {background: #444; color: #fff;}



#content03 {padding: 150px 0; text-align: center;}
#content03 h2 {font-size: 24px; font-weight: 100; letter-spacing: 0.5em; margin-bottom: 10px;}
#content03 p {font-size: 16px; font-weight: 200; letter-spacing: -0.025em; margin-bottom: 30px;}
#content03 p:after {content: ""; display: block; width: 20px; height: 1px; background: rgb(92, 92, 92);
    margin: 30px auto;}
#content03 .container {display: flex; width: 1200px; margin: 0 auto;}
#content03 .container figure {flex: 1; padding: 0 15px; margin-bottom: 30px;}
#content03 .more span {display:block; font-size: 15; font-weight: 200; line-height: 19px; margin-bottom: 30px;}
#content03 .more a {display: block; font-size: 14px; width: 150px; border: 1px solid #ddd; text-align: center; 
    margin: 0 auto; line-height: 30px;}
#content03 .more a:hover {background: #6c50a7; color: #fff;}

#content04 {padding: 150px 0; text-align: center;}
#content04 h2 {font-size: 24px; font-weight: 100; letter-spacing: 0.5em; margin-bottom: 10px;}
#content04 p {font-size: 16px; font-weight: 200; letter-spacing: -0.025em; margin-bottom: 30px;}
#content04 p:after {content: ""; display: block; width: 20px; height: 1px; background: rgb(92, 92, 92);
    margin: 30px auto;}
#content04 .container {display: flex; width: 1200px; margin: 0 auto;}
#content04 .container figure {flex: 1; padding: 0 15px; margin-bottom: 30px;}
#content04 .more span {display:block; font-size: 15; font-weight: 200; line-height: 19px; margin-bottom: 30px;}
#content04 .more a {display: block; font-size: 14px; width: 150px; border: 1px solid #ddd; text-align: center; 
    margin: 0 auto; line-height: 30px;}
#content04 .more a:hover {background: #6c50a7; color: #fff;}


#content05 {padding: 150px 0;background: rgb(231, 201, 102);}
#content05 h2 {position: absolute; margin-left: 760px; padding: 15px 0; font-size: 24px; font-weight: 100; 
    letter-spacing: 0.5em; margin-bottom: 10px;}
#content05 .container {position: relative; display: flex; width: 1200px;  height: 800px; 
    margin: 0 auto;}
#content05 .container .new01 {overflow: hidden;}
#content05 .container .new02 {overflow: hidden;}
#content05 .container .new01 img {width: 100%; transition: 0.4s;}
#content05 .container .new01:hover img {transform: scale(1.1);}
#content05 .container .new02 {position: absolute; margin-left: 558px; margin-top: 95px;}
#content05 .container .new02 img {width: 100%; transition: 0.5s;}
#content05 .container .new02:hover img {transform: scale(1.1);}

#content06 {padding: 150px 0; text-align: center;}
#content06 .container {width: 1900px; margin: 0 auto;}
#content06 .container {position: relative; padding: 150px 0; background: url(../img/members02.jpg) no-repeat center; 
    color: #fff; text-align: center;}
#content06 .container a {position: absolute; display:block; font-size:14px; text-align: center; font-weight: 300; 
    width: 140px; border: 1px solid #ddd; margin: 50px 0 0 950px; line-height: 30px; }
#content06 .container a:hover {background: rgb(255, 255, 255); color: rgb(0, 0, 0);}

#customer {padding: 150px 0; background: #e0e0e0;}
#customer .container {position: relative; display: flex; width: 1200px; margin: 0 auto;}
#customer h2 {position: absolute; font-size: 20px;  text-align: center;
    color: #fff; opacity: 1; transform:translateY(25px) translateX(25px);
    transition: 0.4s; z-index: 999; text-shadow: 0 0 2px rgb(58, 58, 58);}
#customer h2 i {font-size: 18px; transform: translateY(0.5px);}

#customer img {max-width: 100%;}
#customer figure {flex: 1; padding: 0 15px;}
#customer .ctm_img {overflow: hidden;}
#customer figure img {transition: 0.4s;}
#customer figure:hover img {transform: scale(1.1); filter: brightness(140%);}
#customer figure:hover h2 {font-size: 22px; font-weight: 600; color:#ddd; 
    transform:translateY(22px) translateX(22px); z-index: 999;}




#footer {display: block; padding:90px 0 90px 0;background: #3a3a3a;color:#fff;}
#footer .container {width:1200px;
        margin:0 auto;}
        
#footer .container .sns {position: absolute; text-align: right; padding: 0 0 0 1060px; }
#footer i {font-size:25px;padding:10px;background:#666;border-radius:50%;}
#footer .bottom_logo {display: block; width: 350px;}
#footer img {width: 100%; margin-bottom: 20px;}
#footer .bottom_nav {display: flex;}

#footer nav>ul {display:block;}
#footer nav>ul>li>a {position:relative; font-size: 14px; line-height: 25px;
    padding:0 20px;}
#footer nav>ul>li>a~a:after {content:"";display:block;width:1px;height:12px;
    background:rgb(255, 255, 255); position:absolute;
    top:50%;left:0;transform:translateY(-50%)}


#footer address {position:relative;font-size: 13px; font-weight: 100;
    padding:0 20px; margin-top: 20px; line-height: 20px;}
